@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color: #000;
		--dark-green: #3e8b24;
		--ligth-green: #9cfb7c;
		--primary: var(--dark-green);
		--on-primary: #fff;
		background-color: #e3ffd8;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			color: #fff;
			--primary: var(--ligth-green);
			--on-primary: #000;
			background-color: #081205
		}
	}


	html,body {
		scroll-behavior: smooth;
		width: 100%;
		height: 100%;
		margin: 0
	}

	:not(button)>a {
		color: var(--primary);
		fill: var(--primary);
		-webkit-text-decoration: inherit;
		text-decoration: inherit;
		font-weight: 500
	}

	:not(button)>a:hover {
		color: var(--primary);
		fill: var(--primary)
	}

	h1 {
		font-size: 3.2em;
		line-height: 1.1
	}

	button,a {
		align-items: center;
		gap: 5px;
		display: flex
	}

	button {
		background-color: var(--primary);
		color: var(--on-primary);
		fill: var(--on-primary);
		cursor: pointer;
		border: 1px solid #0000;
		border-radius: 8px;
		padding: .6em 1.2em;
		font-family: inherit;
		font-size: 1em;
		font-weight: 500;
		transition: all .25s
	}

	button:hover {
		border-color: var(--on-primary);
		transform: rotate(-1deg)
	}

	button:focus,button:focus-visible {
		outline: 4px auto -webkit-focus-ring-color
	}

}
